@font-face {
    font-family: "RobotoRegular";
    src: url("./fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("./fonts/RobotoBold.ttf");
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url("./fonts/PoppinsSemiBold.ttf");
}

@font-face {
    font-family: "PoppinsLight";
    src: url("./fonts/PoppinsLight.ttf");
}
