//$color-bg: #1F1A38;
//$color-text: #f3f3f3;
//$color-pink: #FF5B79;

$color-bg: #fff;
$color-text: #232323;
$color-yellow: #f9d86b;
$color-yellow-two: #ffc107;
$color-error: #d0515a;
$color-gray: #a6a8a8;